[user]
  name = Oliver Farrell
  email = oliver@oliverjfarrell.co.uk

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[color "status"]
  added = green
  changed = blue
  untracked = red

[color "diff"]
  meta = yellow
  old = red
  new = green

[log]
  # Better date formats in logs
  date = rfc

[alias]
  a   = add
  aa  = add -A

  cm  = commit
  cma = commit --amend

  s   = status
  d   = diff

  co  = checkout

  # Undo the last commit and discard the staging area
  discard = reset --hard HEAD

  # Undo the last commit, but preserve the staging area
  undo = reset --soft HEAD^

[core]
  editor = vim
  excludesfile = ~/.gitignore
  whitespace = warn

[push]
  default = current

[commit]
  template = /Users/oliverfarrell/.git-commit-template

[help]
  autocorrect = 1
